<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">Akitoshi Lab.</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '2022'}} <a href="権利者のURL">著作権を入力.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->