.progress {
  background-color: rgb(76, 84, 130);
  color: rgb(255, 255, 255);
  height: 100%;
  position: absolute;
  width: 100%;
  }
  .progress_bar {
  border-top: 1px solid rgb(160, 160, 160);
  position: absolute;
  top:50%;
  width: 0%;
  }
  .progress_text {
  //font-family: “Menlo”, “Consolas”, monospace;
  font-size: 13px;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  }
  .progress_complete .progress_bar {
  border-top-color: rgb(255, 255, 255);
  }

// Loader Settings

/*
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  background: $black;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  letter-spacing: .5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: $black;

  span {
    color: #fff;
    mix-blend-mode: difference;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #fff;
    animation: animate 3s linear infinite;
  }
}

@keyframes animate {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 70px);
  }
  100% {
    left: 0;
  }
}
*/